@import "../breakpoints.scss";

.navigation {
  display: flex;
  width: 100%;
  font-variation-settings: "wght" 900;

  letter-spacing: var(--font-letterspacing-1);
}

.navigation > * {
  text-align: center;
  padding: var(--size-2);
}

.navigation__title {
  display: flex;
  font-size: var(--font-size-4);
  width: 100%;
  a {
    color: var(--text2);
    transition: all 200ms var(--ease-in-out-3);
    text-transform: lowercase;
  }
  &:hover a {
    color: var(--text2);
  }

  @include md {
    align-items: center;
  }
}

.navigation__mobile-menu {
  display: none;

  @include md {
    display: flex;
  }

  &-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100vh;
    background: var(--surface3);
    z-index: var(--layer-4);
    box-shadow: var(--shadow-6);
    @include sm {
      width: 100vw;
    }
  }

  &-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--brand);
    color: white;
    border-radius: var(--radius-round);
    height: var(--size-8);
    width: var(--size-8);
    z-index: var(--layer-5);
  }

  &-list {
    padding: var(--size-5);
    position: absolute;
    top: 50px;
    right: 0;
    z-index: var(--layer-5);
    @include sm {
      left: 0;
    }
  }

  &-item {
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    font-size: var(--font-size-5);
    box-sizing: border-box;
    width: 100%;
    max-width: calc(100vw - calc(var(--size-5) * 2));
    a {
      color: var(--text2);
    }

    @include sm {
      width: 100vw;
      justify-content: center;
    }
  }
}

.navigation__list {
  justify-content: flex-end;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: lowercase;

  &--desktop {
    flex-direction: row;
    display: flex;
    li + li {
      margin-left: var(--size-4);
    }
  }

  &--mobile {
    background: var(--text2);
    display: none;
    flex-flow: column;
    align-items: flex-end;
  }

  @include md {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: flex;
    }
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: var(--font-size-3);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    a {
      color: var(--text2);
      transition: all 600ms var(--ease-squish-3);
    }
    &:hover a {
      color: var(--text2);
      --wght: 700;
      font-variation-settings: "wght" var(--wght);
    }
  }
}
