.blog-post {
  margin-top: 0;
  padding-block-start: var(--size-0);

  & > * + * {
    margin-top: var(--size-9);
  }

  .blurb {
    margin-top: var(--size-6);
    font-variation-settings: "wght" 750;

    letter-spacing: var(--font-letterspacing-2);
    max-width: var(--size-content-3);
    margin-bottom: var(--size-6);
    > * {
      color: var(--gray-7);
      font-size: var(--font-size-4);
      margin: 0;
    }
  }

  h1 {
    max-inline-size: var(--size-header-2);
  }
}
