@import "breakpoints";

.blog-layout-grid {
  padding-block-start: var(--size-fluid-2);
  display: grid;
  justify-items: flex-start;
  grid-template-columns: 1fr clamp(200px, 960px, 1000px) 1fr;
  grid-auto-rows: min-content;

  & > * {
    grid-column: 2;
  }

  & > .place-full {
    width: 100%;
    grid-column: 1 / -1;
  }

  @include md {
    & {
      grid-template-columns: var(--size-3) 1fr var(--size-3);
    }
  }
}

.blog-post {
  margin-top: 0;
  padding-block-start: var(--size-0);

  & > * {
    width: calc(100vw - 50px);
  }

  & > * + * {
    margin-top: var(--size-9);
  }

  .blurb {
    margin-top: var(--size-6);
    font-variation-settings: "wght" 750;
    letter-spacing: var(--font-letterspacing-2);
    max-width: var(--size-content-3);
    margin-bottom: var(--size-6);
    > * {
      color: var(--text2);
      font-size: var(--font-size-4);
      margin: 0;
    }
  }

  h1 {
    max-inline-size: var(--size-header-2);

    @include md {
      font-size: var(--font-size-7);
    }
  }

  aside {
    margin-top: var(--size-4);
    background: var(--surface2);
    padding: var(--size-5);
    border-radius: var(--radius-2);

    p {
      margin-top: 0;
    }
    p + p {
      margin-top: var(--size-4);
    }
  }
}
