@import "./breakpoints.scss";

.contact-form {
  margin: auto;
  max-width: 1100px;
  display: grid;
  grid-template-columns: minmax(350px, 400px) auto;
  width: 100%;
  min-height: 75vh;
  position: relative;
  background-color: var(--surface2);
  border-radius: var(--radius-3);
  overflow: hidden;
  @include md {
    grid-template-columns: 1fr;
  }

  &__details {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-gap: var(--size-4);
    background: var(--blue-9);
    color: var(--blue-0);
    font-variation-settings: "wght" 700;
    padding: var(--size-3) var(--size-5);
    overflow: hidden;
    position: relative;

    p {
      font-size: var(--font-size-4);
      margin: 0;
    }
    p + p {
      margin-top: var(--size-5);
    }

    @include md {
    }
  }

  &__heading {
    font-size: var(--font-size-7);
    margin-bottom: 0;
    line-height: 1;
    letter-spacing: var(--font-letterspacing-1);
    color: white;
    @include md {
      font-size: var(--font-size-6);
    }
  }

  &__decorative-svg {
    z-index: 0;
    position: absolute;
    inset: 0;
    min-height: 110%;
    min-width: 110%;
    pointer-events: none;
  }

  &__icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--size-8));
    gap: var(--size-6);
    margin-top: var(--size-3);
  }

  &__form {
    padding: var(--size-3) var(--size-5);
  }

  &__submit-container {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--size-4);
  }
}
