@import "open-props/style";
@import "open-props/normalize";

:root {
  --font-serif: "Fraunces", ui-serif, serif;
  --font-sans-serif: "Libre Franklin", system-ui, -apple-system, Segoe UI,
    Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}

body {
  overflow-x: hidden;
  font-family: var(--font-sans-serif);
}

.layout-grid {
  padding-block-start: var(--size-fluid-2);
  display: grid;
  justify-items: flex-start;
  grid-template-columns: var(--size-8) 1fr var(--size-8);
  grid-auto-rows: min-content;

  & > * {
    grid-column: 2;
  }

  & > .place-full {
    width: 100%;
    grid-column: 1 / -1;
  }

  @media (max-width: 768px) {
    & {
      grid-template-columns: var(--size-3) 1fr var(--size-3);
    }
  }
}

.rad-shadow {
  border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
  box-shadow: 0 1rem 0.5rem -0.5rem;
  box-shadow: 0 2.8px 2.2px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    0 6.7px 5.3px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.01)),
    0 12.5px 10px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 22.3px 17.9px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 41.8px 33.4px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
}
