@import "./breakpoints.scss";

.home-hero {
  padding: 10vmin;
  display: grid;
  position: relative;
  width: 100%;
  gap: var(--size-4);
  // min-height: calc(100vh - 50px);
  margin: auto;
  max-width: 1300px;
  justify-items: start;
  place-items: start;
  grid-template-rows: auto auto;

  @include sm {
    padding: var(--size-8) var(--size-2);
  }

  &__squiggle {
    position: absolute;
    top: -5vmin;
    left: 0;
    width: max(900px, 105vw);
    max-width: 1600px;
    z-index: -1;
    margin-left: -11vmin;
    & path {
      fill: none;
      stroke: var(--yellow-1);
      mix-blend-mode: multiply;

      @include md {
        &:nth-of-type(1n + 19) {
          opacity: 0;
          display: none;
        }
      }
    }
  }

  &__name-container {
    display: flex;
    flex-direction: column;
    padding: 3vmin 0;
    justify-content: center;
    margin-bottom: 1.5rem;
    font-size: max(var(--font-size-5), calc(22vmin + 2rem));
    font-variation-settings: "wght" 800;
    line-height: 0.48;
  }

  &__alex {
    color: var(--blue-5);
    mix-blend-mode: multiply;
  }

  &__trost {
    color: var(--red-5);
    mix-blend-mode: multiply;
  }

  &__titles {
    font-variation-settings: "wght" 800;
    color: var(--text1);
    // font-size: var(--font-size-4);
    font-size: max(var(--font-size-3), calc(1vmin + 1rem));
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    gap: 0 var(--size-5);
    width: 100%;
    margin-left: 6vmin;
    letter-spacing: var(--font-letterspacing-1);

    @include sm {
      flex-direction: column;
    }

    & span:nth-child(1) {
      color: var(--red-9);
    }
    & span:nth-child(2) {
      color: var(--lime-9);
    }
    & span:nth-child(3) {
      color: var(--violet-9);
    }
    & span:nth-child(4) {
      color: var(--blue-9);
    }

    @media (prefers-color-scheme: dark) {
      & span:nth-child(1) {
        color: var(--red-3);
      }
      & span:nth-child(2) {
        color: var(--lime-3);
      }
      & span:nth-child(3) {
        color: var(--violet-3);
      }
      & span:nth-child(4) {
        color: var(--blue-3);
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    &__alex {
      color: var(--blue-5);
      mix-blend-mode: screen;
    }

    &__trost {
      color: var(--red-5);
      mix-blend-mode: screen;
    }

    &__squiggle {
      & path {
        stroke: var(--yellow-3);
        opacity: 0.15;
      }
    }
  }
}
