html {
  /* light */
  --brand-light: var(--blue-6);
  --brand-light-subtle: var(--blue-2);
  --text1-light: var(--gray-8);
  --text2-light: var(--gray-7);
  --surface1-light: var(--gray-0);
  --surface2-light: var(--gray-1);
  --surface3-light: var(--gray-2);
  --surface4-light: var(--gray-3);
  --surface-shadow-light: 200 10% 20%;
  --shadow-strength-light: 2%;
  --border-color-light: var(--gray-2);
  --primary-button-light: var(--blue-9);
  --primary-button-light-hover: var(--blue-8);
  --primary-button-light-text: #ffffff;
  --mix-blend-mode-light: multiply;

  /* dark */
  --brand-dark: var(--blue-3);
  --brand-dark-subtle: var(--blue-8);
  --text1-dark: var(--gray-1);
  --text2-dark: var(--gray-3);
  --surface1-dark: var(--gray-9);
  --surface2-dark: var(--gray-8);
  --surface3-dark: var(--gray-7);
  --surface4-dark: var(--gray-6);
  --surface-shadow-dark: 200 50% 3%;
  --shadow-strength-dark: 20%;
  --border-color-dark: var(--gray-7);
  --primary-button-dark: var(--blue-9);
  --primary-button-dark-hover: var(--blue-8);
  --primary-button-dark-text: #ffffff;
  --mix-blend-mode-dark: screen;
}

:root {
  --brand-hue: 207;
  color-scheme: light;
  /* set defaults */
  --brand: var(--brand-light);
  --brand-subtle: var(--brand-light-subtle);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
  --border-color: var(--border-color-light);
  --primary-button: var(--primary-button-light);
  --primary-button-hover: var(--primary-button-light-hover);
  --primary-button-text: var(--primary-button-light-text);
  --mix-blend-mode: var(--mix-blend-mode-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --brand: var(--brand-dark);
    --brand-subtle: var(--brand-dark-subtle);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
    --border-color: var(--border-color-dark);
    --primary-button: var(--primary-button-dark);
    --primary-button-hover: var(--primary-button-dark-hover);
    --primary-button-text: var(--primary-button-dark-text);
    --mix-blend-mode: var(--mix-blend-mode-dark);
  }
}

[color-scheme="light"] {
  color-scheme: light;
  --brand: var(--brand-light);
  --brand-subtle: var(--brand-light-subtle);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
  --border-color: var(--border-color-light);
  --primary-button: var(--primary-button-light);
  --primary-button-hover: var(--primary-button-light-hover);
  --primary-button-text: var(--primary-button-light-text);
  --mix-blend-mode: var(--mix-blend-mode-light);
}

[color-scheme="dark"] {
  color-scheme: dark;
  --brand: var(--brand-dark);
  --brand-subtle: var(--brand-dark-subtle);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --surface1: var(--surface1-dark);
  --surface2: var(--surface2-dark);
  --surface3: var(--surface3-dark);
  --surface4: var(--surface4-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
  --border-color: var(--border-color-dark);
  --primary-button: var(--primary-button-dark);
  --primary-button-hover: var(--primary-button-dark-hover);
  --primary-button-text: var(--primary-button-dark-text);
  --mix-blend-mode: var(--mix-blend-mode-dark);
}
