body {
  font-variation-settings: "wght" 400;
}

p {
  font-size: var(--font-size-3);
  line-height: 150%;
  max-inline-size: var(--size-content-3);
}

a {
  text-decoration-color: var(--brand-subtle);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --wght: 800;
  font-variation-settings: "wght" var(--wght);
  color: var(--brand);
  line-height: 120%;
  margin-top: var(--size-5);
}

p,
ol,
ul {
  margin-top: var(--size-3);
}
