body {
  font-family: var(--font-sans-serif);
  font-variation-settings: "wght" 400;
  color: var(--text1);
}

p {
  font-size: var(--font-size-3);
  line-height: var(--font-lineheight-4);
  max-inline-size: var(--size-content-3);
}

a {
  text-decoration-color: var(--brand-subtle);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --wght: 800;
  font-variation-settings: "wght" var(--wght);
  color: var(--text2);
  line-height: 120%;
  margin-top: var(--size-5);
}

p,
ol,
ul {
  margin-top: var(--size-3);
}

:where(:not(pre) > code) {
  background-color: var(--surface3);
}
